header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-align: left;
}


body{
  background-image: url('https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
