header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


body{
  background-image: url('https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
h4{
    color: darkorchid;
        }

a:link, a:visited {
  background-color: blueviolet;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: darkorchid;
}

